			body {background-color:#f7f2e7;}
			a {color: #6B72E1; font-weight: bold}
			a:hover {color: red}
			 .card {padding:  40px 40 px;box-shadow: 0 0 10px #666666; background-color: #ffffff;margin: 60 px 30 px; text-align:center;}
			 li  {list-style-type: none;}